<%- include('../../partials/header.ejs') %>
<div class="container">
    <br>
    <div class="card">

        <div class="card-header">
            <h2>Cadastro de Artigos</h2>
        </div>

        <div class="card-body">
            <form method="POST" action="/articles/save">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">Título: </span>
                    <input name="title" type="text" class="form-control" placeholder="Digite o nome do artigo" required>
                </div>
                <br>
                <div>
                    <h5>Descrição: </h5>
                    <textarea class="form-control" id="article" name="body" placeholder="Escreva o artigo aqui"></textarea>
                </div>
                <br>
                <div>
                    <h5>Categoria: </h5>
                    <select name="category" class="form-control" required>
                        <option></option>
                        <% categories.forEach((c) => { %>
                            <option value="<%=c.id%>"><%= c.title %></option>
                        <% })%>
                    </select>
                </div>

                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>

        </div>
    </div>

</div>
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
    })
</script>
