<%- include("../../partials/loginHeader.ejs") %>

<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            Login
        </div>

        <div class="card-body">
            <form action="/authenticate" method="POST">
                <input type="email" name="email" class="form-control" placeholder="Digite seu email" required="true">
                <br>
                <input type="password" name="password" class="form-control" placeholder="Digite sua senha" required="true">
                <br>
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

<%- include("../../partials/footer.ejs") %>
